.users {
    width: 90%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.users__logo {

    font-size: 30px;
}

.pages {
    cursor: pointer;
    display: flex;
    margin: 20px 0;
}

.pages img {
    width: 15px;
}

.pages img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.pages span,
.pages button {
    font-size: 20px;
    min-width: 50px;
    text-align: center;
    background-color: #ececec;
    border: 1px solid rgba(128, 128, 128, 0.507);
    transition: .3s ease;
}

.pages span:hover,
.pages button:hover {
    transform: translateY(-10%);
    background-color: #1e6ba5;
    color: #fff;
}

span.selectedPage {
    background-color: #1e6ba5;
    color: #fff;
}

.user__item {
    margin-bottom: 20px;
}

.user__inner {
    display: flex;
    min-height: 100px;
}

.user__photo {
    width: 15%;
    text-align: center;
}

.user__button {
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    min-width: 100px;
    padding: 3px 0;
    border: 0.5px solid gray;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.45);
}

.user__button:hover {
    cursor: pointer;
}



.follow {
    background-color: #1e6aa5;
    transition: .3s;
}

.unfollow {
    background-color: #1e84a5;
    transition: .3s
}

.user__img {
    width: 85px;
    height: 85px;

    border: 1px solid gray;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.45);
}

.user__about {
    display: flex;
    width: 85%;
    justify-content: space-between;
    padding: 10px;
    border: 1px #acacac solid;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.45);
}

.user__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user__name {
    font-size: 20px;
    font-family: sans-serif;
}

.user__status {
    font-size: 15px;
    font-weight: 300;
}

.user__location {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: right;
}

.user__country {
    font-size: 20px;
}

.user__city {
    font-size: 16px;
}