.header {
    display: grid;
    grid-area: h;
    overflow: hidden;
    grid-template-columns: 2fr 10fr;
    background-color: #1e6aa5;

}

.logo {
    width: 120px;
    justify-self: center;
    margin-top: 10px;
}

.search {
    align-self: center;
}

.search input {
    width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
    border-radius: 8px;
}

.search input:focus {
    outline: none;
    border-color: #00d;
}

.user {
    display: grid;
    align-items: center;
    justify-self: right;
    margin-right: 10px;
}

.user__inner {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    
}

.user__inner img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    align-self: center;
    border: 1px solid black;
    
}

.user__name {
    margin-left: 20px;
    font-size: 18px;
    color: #e6e6e6;
}

.loginBlock {
    justify-self: right;
    align-self: center;
}

.loginBlock span {
    font-family: Montserrat;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 7px;
    margin-right: 25px;
    
}

.loginBlock a {
    font-family: Montserrat;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 7px;
    margin-right: 25px;

    transition: .5s ease;
}

.loginBlock a:hover {
    background-color: white;
    color: #000;
}