.nav {
    grid-area: n;
    padding: 20px;

}

.item {
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 10px;
}

.item:hover {
    background-color: #ececec;
}

.item a {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    color: #000;
}

.item .active {
    background-color: #1e6ba5;
    color: #fff;
    
}

